.battle {
    display:flex;
    
}

.enemy img {
    
}

#enemy2_img{
    width:90px;
}

div.enemy {
    justify-content: flex-end;
}

div#user {
    align-items: center;
}

div#rules {
    text-align: center;
}

h4 {
    font-weight: normal;
}

div#action {
    display: flex;
    justify-content: center;
}

div#action img {
    height: 65px;
    width: 75px;
    margin: 0 1rem;
}


/* button#run_the_test {
    display: none;
} */